@import "tailwindcss";

:root {
  --font-small-responsive: clamp(0.8rem, 2cqi, 1rem);
  --font-medium-responsive: clamp(1rem, 2.5cqi, 1.4rem);
  --font-large-responsive: clamp(1.8rem, 4cqi, 2.4rem);
  --font-x-large-responsive: clamp(1.8rem, 5cqi, 3.2rem);
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  line-height: 1.4;
  overflow: unset;
  scroll-behavior: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}


@layer utilities {
    a {
        @apply text-blue-500 hover:underline;
    }
    .container {
        @apply relative;
    }
    .container h2 {
        @apply sm:-left-36 sm:absolute;
    }
    .container .content {
        @apply bg-neutral-100 px-4 py-2;
    }

    figcaption.attachment__caption {
        @apply text-center text-neutral-600;
    }
}