

<div class="container">
  <h2 class="text-neutral-400 font-light pb-2 sm:pb-0">About me</h2>
  <div class="content flex flex-col">
    <p>
      <a href="https://read.cv/isbonora" target="_blank" style="">Isaac Bonora</a> is an <a href="https://wikipedia.org/wiki/Industrial_design" target="_blank">Industrial Designer</a>     and programmer based in Munich, Germany. In 2023 he graduated with first-class honours in     Industrial Design at     <a href="https://wikipedia.org/wiki/Queensland_University_of_Technology" target="_blank">Queensland University of Technology</a>     with a strong interest in solving users’ problems with design thinking. He is currently a designer at <a href="https://idealworks.com/" target="_blank">Idealworks</a>, a     <a href="https://wikipedia.org/wiki/BMW" target="_blank">BMW Group</a> and <a href="https://www.agile-robots.com/en/" target="_blank">Agile Robots</a> company, applying <a href="https://www.interaction-design.org/literature/topics/human-centered-design" target="blank">human-centered design</a> techniques to support teams internally with web-based solutions to improve user satisfaction.<!---->
    <p>
  </div>
</div>
