<div class="container" data-controller="location">
  <h2 class="text-neutral-400 font-light">Where</h2>
  <div class=" w-full">
   <div data-location-target="map" class="h-[300px]"></div>
  </div>
</div>
